@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

html, body {
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    background-color: white;
}


body {
    padding-right: 60px;
}

header {
    padding-left: 45px;
    background-color: transparent;
}

.header-inner {
    position: relative;
}

.header-logo {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo img {
    display: block;
    height: 100%;
    width: auto;
}

.menu_pc {
    position: fixed;
    top: 10vh;
    right: 20px;
    font-size: 17px;
}

.menu_pc ul {
    writing-mode: vertical-rl;
    display: flex;
}

.menu_pc ul li {
    align-items: center;
    margin-bottom: 30px;
    
}
.menu_pc ul li :last-child {
    margin-bottom: 0px;
}

.sns {
    position: fixed;
    top: 85vh;
    right: 20px;
}


/* .sns ul {
    
} */


.sns ul li :first-child {
    margin-bottom: 20px;
    font-size: 20px;
}


@media screen and (min-width:768px) {
    .hamburger-button {
        display: none;
    }

    .menu_sp {
        display: none;
    }

    .mordal {
        display: none;
    }
}


main, section {
    margin-right: 65px;
}




.mainvisual {
    width: 100%;
}

.mainvisual img {
    display: block;
}


section {
    padding: 50px 100px;
    width: 100%;
}



.subtitle {
    margin-bottom: 20px;
}

.subtitle h2 {
    position: relative;
    padding: 0.5rem;
    text-align: center;
}

.subtitle h2:before {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 30px);
    width: 60px;
    height: 2px;
    content: '';
    border-radius: 3px;
    background: #000;
}

.subtitle h2 {
    font-size: 32px;
}


.about-inner, .menu-inner, .gallary-inner {
    max-width: 900px;
    margin: auto;
}

.menu-list {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
}

.menu-list li {
    margin: 10px;
    width: calc(100%/2.15);
    justify-content: space-between;
}

.white {
    background-color: white;
}

.pink {
    background-color: rgb(255,245,255);
}



.menu-list li a {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}

.menu-item {
    font-size: 19px;
}

.menu-price {
    font-size: 17px;
}









footer {
    width: 100vw;
}

/* .footer-inner {

} */

.footer-logo {
    height: 20%;
    width: 20%;
}